<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var appBaseUrl = '';
    </script>
    <link href="~/Scripts/resources/css/icons.css" rel="stylesheet" />
    <link href="~/Scripts/resources/css/suhui.css" rel="stylesheet" />
    <link href="~/Scripts/resources/app-all.css" rel="stylesheet" />
    <script src="~/Scripts/app.js"></script>
    @RenderSection("Head", required: false)

</head>

<body class="bodyBg font_fm">
    <section>
        @RenderBody()
    </section>
</body>
</html>
