.icon_action {background-image:url(../images/icons/action.png);}
.icon_add {background-image:url(../images/icons/add.png);}
.icon_add_contact {background-image:url(../images/icons/add_contact.png);}
.icon_apple {background-image:url(../images/icons/apple.png);}
.icon_approve {background-image:url(../images/icons/approve.png);}
.icon_arrow_down {background-image:url(../images/icons/arrow_down.png);}
.icon_arrow_left {background-image:url(../images/icons/arrow_left.png);}
.icon_arrow_right {background-image:url(../images/icons/arrow_right.png);}
.icon_arrow_up {background-image:url(../images/icons/arrow_up.png);}
.icon_baggage_trolley {background-image:url(../images/icons/baggage_trolley.png);}
.icon_ball {background-image:url(../images/icons/ball.png);}
.icon_barcode {background-image:url(../images/icons/barcode.png);}
.icon_bar_chart {background-image:url(../images/icons/bar_chart.png);}
.icon_battery_charging {background-image:url(../images/icons/battery_charging.png);}
.icon_battery_empty {background-image:url(../images/icons/battery_empty.png);}
.icon_battery_full {background-image:url(../images/icons/battery_full.png);}
.icon_battery_one_bar {background-image:url(../images/icons/battery_one_bar.png);}
.icon_battery_two_bars {background-image:url(../images/icons/battery_two_bars.png);}
.icon_bed {background-image:url(../images/icons/bed.png);}
.icon_bell {background-image:url(../images/icons/bell.png);}
.icon_bicycle {background-image:url(../images/icons/bicycle.png);}
.icon_block {background-image:url(../images/icons/block.png);}
.icon_boat {background-image:url(../images/icons/boat.png);}
.icon_book {background-image:url(../images/icons/book.png);}
.icon_bottle {background-image:url(../images/icons/bottle.png);}
.icon_box {background-image:url(../images/icons/box.png);}
.icon_box_add {background-image:url(../images/icons/box_add.png);}
.icon_box_approve {background-image:url(../images/icons/box_approve.png);}
.icon_box_delete {background-image:url(../images/icons/box_delete.png);}
.icon_box_remove {background-image:url(../images/icons/box_remove.png);}
.icon_briefcase {background-image:url(../images/icons/briefcase.png);}
.icon_briefcase_download {background-image:url(../images/icons/briefcase_download.png);}
.icon_briefcase_upload {background-image:url(../images/icons/briefcase_upload.png);}
.icon_bullseye {background-image:url(../images/icons/bullseye.png);}
.icon_bumerang {background-image:url(../images/icons/bumerang.png);}
.icon_bus {background-image:url(../images/icons/bus.png);}
.icon_calculator {background-image:url(../images/icons/calculator.png);}
.icon_calendar {background-image:url(../images/icons/calendar.png);}
.icon_candle {background-image:url(../images/icons/candle.png);}
.icon_car {background-image:url(../images/icons/car.png);}
.icon_card {background-image:url(../images/icons/card.png);}
.icon_chess {background-image:url(../images/icons/chess.png);}
.icon_clock {background-image:url(../images/icons/clock.png);}
.icon_cloud {background-image:url(../images/icons/cloud.png);}
.icon_cloud_download {background-image:url(../images/icons/cloud_download.png);}
.icon_cloud_rain {background-image:url(../images/icons/cloud_rain.png);}
.icon_cloud_thunder {background-image:url(../images/icons/cloud_thunder.png);}
.icon_cloud_upload {background-image:url(../images/icons/cloud_upload.png);}
.icon_coffee {background-image:url(../images/icons/coffee.png);}
.icon_comb {background-image:url(../images/icons/comb.png);}
.icon_comment {background-image:url(../images/icons/comment.png);}
.icon_comment_gray {background-image:url(../images/icons/comment_gray.png);}
.icon_comment_add {background-image:url(../images/icons/comment_add.png);}
.icon_comment_approve {background-image:url(../images/icons/comment_approve.png);}
.icon_comment_delete {background-image:url(../images/icons/comment_delete.png);}
.icon_comment_remove {background-image:url(../images/icons/comment_remove.png);}
.icon_computer {background-image:url(../images/icons/computer.png);}
.icon_contact_approve {background-image:url(../images/icons/contact_approve.png);}
.icon_contact_delete {background-image:url(../images/icons/contact_delete.png);}
.icon_contact_remove {background-image:url(../images/icons/contact_remove.png);}
.icon_credit_card {background-image:url(../images/icons/credit_card.png);}
.icon_crown {background-image:url(../images/icons/crown.png);}
.icon_database {background-image:url(../images/icons/database.png);}
.icon_delete {background-image:url(../images/icons/delete.png);}
.icon_diamond {background-image:url(../images/icons/diamond.png);}
.icon_diary {background-image:url(../images/icons/diary.png);}
.icon_diary_add {background-image:url(../images/icons/diary_add.png);}
.icon_diary_approve {background-image:url(../images/icons/diary_approve.png);}
.icon_diary_delete {background-image:url(../images/icons/diary_delete.png);}
.icon_diary_remove {background-image:url(../images/icons/diary_remove.png);}
.icon_dislike {background-image:url(../images/icons/dislike.png);}
.icon_double_bed {background-image:url(../images/icons/double_bed.png);}
.icon_drink {background-image:url(../images/icons/drink.png);}
.icon_drop {background-image:url(../images/icons/drop.png);}
.icon_edit {background-image:url(../images/icons/edit.png);}
.icon_email {background-image:url(../images/icons/email.png);}
.icon_euro {background-image:url(../images/icons/euro.png);}
.icon_eyedropper {background-image:url(../images/icons/eyedropper.png);}
.icon_fast_backward {background-image:url(../images/icons/fast_backward.png);}
.icon_fast_forward {background-image:url(../images/icons/fast_forward.png);}
.icon_film {background-image:url(../images/icons/film.png);}
.icon_filter {background-image:url(../images/icons/filter.png);}
.icon_fix {background-image:url(../images/icons/fix.png);}
.icon_flag {background-image:url(../images/icons/flag.png);}
.icon_folder {background-image:url(../images/icons/folder.png);}
.icon_folder_add {background-image:url(../images/icons/folder_add.png);}
.icon_folder_approve {background-image:url(../images/icons/folder_approve.png);}
.icon_folder_delete {background-image:url(../images/icons/folder_delete.png);}
.icon_folder_remove {background-image:url(../images/icons/folder_remove.png);}
.icon_food {background-image:url(../images/icons/food.png);}
.icon_fullscreen {background-image:url(../images/icons/fullscreen.png);}
.icon_hammer {background-image:url(../images/icons/hammer.png);}
.icon_hand {background-image:url(../images/icons/hand.png);}
.icon_headphones {background-image:url(../images/icons/headphones.png);}
.icon_heart {background-image:url(../images/icons/heart.png);}
.icon_home {background-image:url(../images/icons/home.png);}
.icon_hourglass {background-image:url(../images/icons/hourglass.png);}
.icon_id_card {background-image:url(../images/icons/id_card.png);}
.icon_images {background-image:url(../images/icons/images.png);}
.icon_inbox {background-image:url(../images/icons/inbox.png);}
.icon_inbox_empty {background-image:url(../images/icons/inbox_empty.png);}
.icon_information {background-image:url(../images/icons/information.png);}
.icon_key {background-image:url(../images/icons/key.png);}
.icon_laboratory {background-image:url(../images/icons/laboratory.png);}
.icon_layout_coloumns {background-image:url(../images/icons/layout_coloumns.png);}
.icon_layout_rows {background-image:url(../images/icons/layout_rows.png);}
.icon_layout_squares {background-image:url(../images/icons/layout_squares.png);}
.icon_layout_squares_small {background-image:url(../images/icons/layout_squares_small.png);}
.icon_leaves {background-image:url(../images/icons/leaves.png);}
.icon_light_bulb {background-image:url(../images/icons/light_bulb.png);}
.icon_like {background-image:url(../images/icons/like.png);}
.icon_list {background-image:url(../images/icons/list.png);}
.icon_locked {background-image:url(../images/icons/locked.png);}
.icon_lollipop {background-image:url(../images/icons/lollipop.png);}
.icon_magic_wand {background-image:url(../images/icons/magic_wand.png);}
.icon_magnet {background-image:url(../images/icons/magnet.png);}
.icon_mail {background-image:url(../images/icons/mail.png);}
.icon_map_pin {background-image:url(../images/icons/map_pin.png);}
.icon_measure {background-image:url(../images/icons/measure.png);}
.icon_medal {background-image:url(../images/icons/medal.png);}
.icon_megaphone {background-image:url(../images/icons/megaphone.png);}
.icon_microphone {background-image:url(../images/icons/microphone.png);}
.icon_monitor {background-image:url(../images/icons/monitor.png);}
.icon_mouse {background-image:url(../images/icons/mouse.png);}
.icon_move {background-image:url(../images/icons/move.png);}
.icon_mp3_player {background-image:url(../images/icons/mp3_player.png);}
.icon_museum {background-image:url(../images/icons/museum.png);}
.icon_music {background-image:url(../images/icons/music.png);}
.icon_notebook {background-image:url(../images/icons/notebook.png);}
.icon_outbox {background-image:url(../images/icons/outbox.png);}
.icon_page {background-image:url(../images/icons/page.png);}
.icon_page_add {background-image:url(../images/icons/page_add.png);}
.icon_page_approve {background-image:url(../images/icons/page_approve.png);}
.icon_page_delete {background-image:url(../images/icons/page_delete.png);}
.icon_page_remove {background-image:url(../images/icons/page_remove.png);}
.icon_page_writing {background-image:url(../images/icons/page_writing.png);}
.icon_paint_brush {background-image:url(../images/icons/paint_brush.png);}
.icon_parking {background-image:url(../images/icons/parking.png);}
.icon_pause {background-image:url(../images/icons/pause.png);}
.icon_percent {background-image:url(../images/icons/percent.png);}
.icon_phone {background-image:url(../images/icons/phone.png);}
.icon_photo_camera {background-image:url(../images/icons/photo_camera.png);}
.icon_piano {background-image:url(../images/icons/piano.png);}
.icon_pie_chart {background-image:url(../images/icons/pie_chart.png);}
.icon_pin {background-image:url(../images/icons/pin.png);}
.icon_play {background-image:url(../images/icons/play.png);}
.icon_plug {background-image:url(../images/icons/plug.png);}
.icon_present {background-image:url(../images/icons/present.png);}
.icon_print {background-image:url(../images/icons/print.png);}
.icon_puzzle {background-image:url(../images/icons/puzzle.png);}
.icon_quote {background-image:url(../images/icons/quote.png);}
.icon_radio {background-image:url(../images/icons/radio.png);}
.icon_reception_bell {background-image:url(../images/icons/reception_bell.png);}
.icon_repair_add {background-image:url(../images/icons/repair_add.png);}
.icon_repair_approve {background-image:url(../images/icons/repair_approve.png);}
.icon_repair_delete {background-image:url(../images/icons/repair_delete.png);}
.icon_repair_remove {background-image:url(../images/icons/repair_remove.png);}
.icon_replay {background-image:url(../images/icons/replay.png);}
.icon_save {background-image:url(../images/icons/save.png);}
.icon_save_approve {background-image:url(../images/icons/save_approve.png);}
.icon_save_x {background-image:url(../images/icons/save_x.png);}
.icon_scissors {background-image:url(../images/icons/scissors.png);}
.icon_screen_maximize {background-image:url(../images/icons/screen_maximize.png);}
.icon_screen_minimize {background-image:url(../images/icons/screen_minimize.png);}
.icon_search {background-image:url(../images/icons/search.png);}
.icon_settings {background-image:url(../images/icons/settings.png);}
.icon_shopping_bag {background-image:url(../images/icons/shopping_bag.png);}
.icon_shopping_chart {background-image:url(../images/icons/shopping_chart.png);}
.icon_shuffle {background-image:url(../images/icons/shuffle.png);}
.icon_smart_phone {background-image:url(../images/icons/smart_phone.png);}
.icon_sound_full {background-image:url(../images/icons/sound_full.png);}
.icon_sound_low {background-image:url(../images/icons/sound_low.png);}
.icon_speedometer {background-image:url(../images/icons/speedometer.png);}
.icon_spray {background-image:url(../images/icons/spray.png);}
.icon_star {background-image:url(../images/icons/star.png);}
.icon_stop {background-image:url(../images/icons/stop.png);}
.icon_sun {background-image:url(../images/icons/sun.png);}
.icon_tag {background-image:url(../images/icons/tag.png);}
.icon_teddy_bear {background-image:url(../images/icons/teddy_bear.png);}
.icon_thermometer {background-image:url(../images/icons/thermometer.png);}
.icon_trash {background-image:url(../images/icons/trash.png);}
.icon_tree {background-image:url(../images/icons/tree.png);}
.icon_tune {background-image:url(../images/icons/tune.png);}
.icon_umbrella {background-image:url(../images/icons/umbrella.png);}
.icon_usb_drive {background-image:url(../images/icons/usb_drive.png);}
.icon_user {background-image:url(../images/icons/user.png);}
.icon_Users {background-image:url(../images/icons/Users.png);}
.icon_video_camera {background-image:url(../images/icons/video_camera.png);}
.icon_view {background-image:url(../images/icons/view.png);}
.icon_warning {background-image:url(../images/icons/warning.png);}
.icon_warning_sign {background-image:url(../images/icons/warning_sign.png);}
.icon_webcam {background-image:url(../images/icons/webcam.png);}
.icon_weights {background-image:url(../images/icons/weights.png);}
.icon_window {background-image:url(../images/icons/window.png);}
.icon_window_accept {background-image:url(../images/icons/window_accept.png);}
.icon_window_add {background-image:url(../images/icons/window_add.png);}
.icon_window_delete {background-image:url(../images/icons/window_delete.png);}
.icon_window_remove {background-image:url(../images/icons/window_remove.png);}
.icon_window_text {background-image:url(../images/icons/window_text.png);}
.icon_wired {background-image:url(../images/icons/wired.png);}
.icon_write {background-image:url(../images/icons/write.png);}
.warning_sign {background-image:url(../images/icons/warning_sign.png);}
.icon_refresh {background-image:url(../images/icons/refresh.gif);}


.wficon_sitemap {background-image:url(../images/ico/sitemap.png);}
.wficon_setting {background-image:url(../images/ico/setting.gif);}
.wficon_forum_add {background-image:url(../images/ico/forum_add.gif);}
.wficon_arrow_medium_right {background-image:url(../images/ico/arrow_medium_right.png);}
.wficon_refresh {background-image:url(../images/ico/Refresh.png);}
.wficon_printer {background-image:url(../images/ico/printer.png);}
.wficon_openFlow {background-image:url(../images/ico/folder_classic.png);}
.wficon_addFlow {background-image:url(../images/ico/folder_classic_add.png);}
.wficon_flow {background-image:url(../images/ico/flow.png);}
.wficon_world {background-image:url(../images/ico/world.png);}
.wficon_flowAttr {background-image:url(../images/ico/hammer_screwdriver.png);}
.wficon_addStep {background-image:url(../images/ico/shape_aling_left.png);}
.wficon_addSubFlow {background-image:url(../images/ico/shape_aling_center.png);}
.wficon_addConn {background-image:url(../images/ico/vector.png);}
.wficon_copyStep {background-image:url(../images/ico/ui_saccordion.png);}
.wficon_removeObj {background-image:url(../images/ico/cross.png);}
.wficon_saveFlow {background-image:url(../images/ico/save.gif);}
.wficon_saveAs {background-image:url(../images/ico/saveas.gif);}
.wficon_installFlow {background-image:url(../images/ico/folder_classic_up.png);}
.wficon_uninstallFlow {background-image:url(../images/ico/folder_classic_down.png);}
.wficon_deleteFlow {background-image:url(../images/ico/folder_classic_stuffed_remove.png);}




.uicon_new {background-image:url(../images/ueditor/new.png);}
.uicon_open {background-image:url(../images/ueditor/open.png);}
.uicon_setting {background-image:url(../images/ueditor/setting.gif);}
.uicon_input {background-image:url(../images/ueditor/input.gif);}
.uicon_textarea {background-image:url(../images/ueditor/textarea.gif);}
.uicon_html {background-image:url(../images/ueditor/html.gif);}
.uicon_radio {background-image:url(../images/ueditor/radio.gif);}
.uicon_checkbox {background-image:url(../images/ueditor/checkbox.gif);}
.uicon_hidden {background-image:url(../images/ueditor/hidden.gif);}
.uicon_select {background-image:url(../images/ueditor/select.gif);}
.uicon_label {background-image:url(../images/ueditor/label.gif);}
.uicon_button {background-image:url(../images/ueditor/button.gif);}
.uicon_combox {background-image:url(../images/ueditor/combox.png);}
.uicon_sum {background-image:url(../images/ueditor/sum.png);}
.uicon_org {background-image:url(../images/ueditor/org.gif);}
.uicon_selectlr {background-image:url(../images/ueditor/selectlr.png);}
.uicon_datetime {background-image:url(../images/ueditor/datetime.gif);}
.uicon_attachment {background-image:url(../images/ueditor/attachment.gif);}
.uicon_subtable {background-image:url(../images/ueditor/subtable.gif);}
.uicon_database_info {background-image:url(../images/ueditor/database_info.gif);}
.uicon_save {background-image:url(../images/ueditor/save.gif);}
.uicon_saveas {background-image:url(../images/ueditor/saveas.gif);}
.uicon_page_code {background-image:url(../images/ueditor/page_code.png);}